
.game-table {
  position: absolute;
  display: grid;
  background-color: #000;
  width: 600px;
  height: 600px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;

  /*centralizing */

  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - 300px);

}

.game-table > div {
  display: flex;
  background-color: #fff;
  cursor: pointer;

  /*centralizando texto na div*/
  align-items: center;
  justify-content: center;

}

.game-table > div > span {

  font-size: 100px;


}
