* {
  margin: 0;
  padding: 0;


}

.game-table {
  background-color: black;

  position: absolute;
  width: 600px;
  height: 600px;
  z-index: 1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;

  /*centralizing */

  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - 300px);

}

.initial-screen {
  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

}

.initial-screen-close { 
  display: none !important;

}

.initial-screen-content {
  background-color: #fff;
  border-radius: 5%;

  position: absolute;
  width: 40%;
  height: 45%;

  display: flex;
  flex-direction: column;
  align-items: center;


}

.initial-screen-title {

  height: 50%;

}


.choice-buttons {
  height: 50%;
  width: 100%;

  display: flex;
  align-items: start;
  justify-content: space-between;
}

.machine-button {

  margin-left: 80px;
}

.human-button {

  margin-right: 80px;
}

.choice-button {

  cursor: pointer;
  background-color: #be5de8;
  color: #000;
  border: none;

  padding: 10px;

}

.choice-button:hover {

  background-color: #8800ff;
  color: #fff;

}

.game-table > div {
  background-color: #fff;
  cursor: pointer;

  /*centralizando texto na div*/
  display: flex;
  align-items: center;
  justify-content: center;

}

.game-table > div > span {

  font-size: 100px;

}

.buttons {
  display: flex;
  position: relative;
  top: 40%;

}

button {

margin: 10px;

}

.tela-inicial-content {
  background: gray;
  border-radius: 10%;

  width: 30%;
  height: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

